<header>
    <div class="p-3 mb-2 bg-danger text-white">Usted no tiene acceso a esta sección</div>
</header>
<body>
    <br />
    <br />
    <div class="container">
        <div class="row">
            <div class="col-4  mx-auto text-center">
                <img class="mx-auto d-block" src="~/imagenes/lock_access_denied_blocked.png" style="height:350px; max-width:300px;" />
            </div>
        </div>
    </div>
</body>